---
title: "Gillespedia"
permalink: /categories/
layout: archive
author_profile: true
---

<p>Aaron's Public Knowledge Wiki.</p>
<a class="btn btn--primary" href="{{siteurl}}/gillespedia/" role="button">See Simple List</a>

{% for member in site.data.gillespediatags %}
<section id="{{ member.tag | slugify | downcase }}" class="taxonomy__section">
<img src={{member.image}} width="300px" height="100px">
<h2 class="archive__subtitle">{{member.tag | upcase}}</h2>
<ul>
{% assign sorted = (site.gillespedia | sort: 'date') | reverse %}
  {% for item in sorted %}
    {% for tag in item.categories %}
      {% if tag == member.tag %}
        <li><a href="{{site.url}}{{site.baseurl}}{{item.url}}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
</section>
{% endfor %}
