---
title: "Gillespedia Entries by Category"
permalink: /categories/
layout: archive
author_profile: true
---

{% for member in site.data.gillespediatags %}
<section id="{{ member.tag | slugify | downcase }}" class="taxonomy__section">
<h2 class="archive__subtitle">{{member.tag | upcase}}</h2>
<img src={{site.url}}{{site.baseurl}}{{member.image}}/>
<ul>
{% assign sorted = (site.gillespedia | sort: 'date') | reverse %}
  {% for item in sorted %}
    {% for tag in item.categories %}
      {% if tag == member.tag %}
        <li><a href="{{item.url}}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
</section>
{% endfor %}
