---
title: "Gillespedia Entries by Category"
permalink: /categories/
layout: archive
author_profile: true
---

<p>Aaron's Public Knowledge Wiki.
<button href={{siteurl}}"/gillespedia/" type="button" class="btn btn-primary">See Simple List</button>

< Or, if you prefer, <a href={{siteurl}}"/gillespedia/">here's a simple list</a>.</p>

{% for member in site.data.gillespediatags %}
<section id="{{ member.tag | slugify | downcase }}" class="taxonomy__section">
<img src={{member.image}} width="300px" height="100px">
<h2 class="archive__subtitle">{{member.tag | upcase}}</h2>
<ul>
{% assign sorted = (site.gillespedia | sort: 'date') | reverse %}
  {% for item in sorted %}
    {% for tag in item.categories %}
      {% if tag == member.tag %}
        <li><a href="{{site.url}}{{site.baseurl}}{{item.url}}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
</section>
{% endfor %}
