---
layout: home
author_profile: true
feature_row:
  - image_path: /assets/images/splash-column.png
    alt: "Columns image"
    # title: "The Column"
    excerpt: "A blog about whatever I feel like. Tech. Books. General life."
    url: /tags/
    btn_label: "See The Column"
    btn_class: "btn--inverse"
  - image_path: /assets/images/splash-gillespedia.png
    alt: "Gillespedia image"
    # title: "Gillespedia"
    excerpt: "A personal knowledge wiki about science, life, and productivity"
    url: /gillespedia/
    btn_label: "Read Gillespedia"
    btn_class: "btn--inverse"
  - image_path: /assets/images/splash-creation.png
    alt: "Creations image"
    # title: "Creation of the Week"
    excerpt: "A weekly collection of writings, drawings, and other fun things."
    url: https://www.notion.so/aarongilly/9e6c767be05a42c7ab438e4330658e2b?v=6d08d1c56ba24e97b75a60fc5dba073c
    btn_label: "View Creations"
    btn_class: "btn--inverse"
---

{% include figure image_path="/assets/images/index-banner.png" alt="a fun little hello image" %}
<p>Hi. I'm Aaron. Welcome to my website. I'm glad you're here.</p>
<p>I write and create things to entertain and inform... mostly myself. I don't sell anything. I'm not here to make money. I'm here to enjoy myself; and I hope you do too.</p>
<h1>Main Attractions</h1>
{% include feature_row %}
<h2>Secondary Features</h2>
<a href="https://www.notion.so/aarongilly/a7627b8ed78b4eab9e31364cb7b98eea?v=c957bb0ea6dd42e9a83df8338e11c786">
<img src="https://lh3.googleusercontent.com/pw/ACtC-3dIanyViJgtN7IGX78HRXgsLGSooATHAuAxSNeGEWVsaAqnvwhMw0YrSG_cLYvWieiwOY_gLfsYkrcolptY3DMcqPEy_NqxedR1kr2N4mN6_Kk5CwkQMgSBnENGKKo5Qnfdp61_r-iatvpVmPhAeXM5Aw=w150" alt="notes doodle">
<p>A living body of Atomic notes, on various topics hosted in Notion</p>
</a>
<a href="https://www.notion.so/aarongilly/General-Operating-Principles-95a182cba7fd44a893970d3a04b97cc2">
<img src="https://lh3.googleusercontent.com/pw/ACtC-3dKztLh9BPuyElYgu-_MD8xrtiSM4kjC3CNwpSaj0qzStJj84gA693yCT1OZL2H7pXQI_OLDov9yEEyIeweJHSnxTY6J8-nMUqqBZAM8M1rcpx_59-Rjjj920elLCWI--grSRhHBzeIgQ5ictK56fVz5Q=w150" alt="principles doodle">
<p>My General Operating Principles are a set of lessons I try to take into any given situation by default.</p>
</a>
<a href="/_pages/annualreviews">
<img src="https://lh3.googleusercontent.com/pw/ACtC-3eQmIzYayQl_DoGjkhO86KqiTXJOlgu8r-LhSm6WkK4VSWLnmh0wygPp6f5vTt4PS5w2kNh-ai5MDIc4d164SoAI3zLc70HF-fknetRUWj_vbE9icz1c6z2Fe_gBDI6-w_b1cQ5yVWyoa1j_E2NZYa6BA=w150" alt="review doodle">  
<p>My Annual Reviews are a quantified-self summarization of my life, posted publicly to keep me honest.</p>
</a>
<div style="color: grey; font-size: 10px;"> 
</p>This website is hosted by GitHub Pages, utilizing the <a href="https://mmistakes.github.io/minimal-mistakes/">Minimal Mistakes</a> theme with almost no retooling.</p>
</div>