---
layout: home
author_profile: true
feature_row:
  - image_path: /assets/images/splash-column.png
    alt: "Columns image"
    # title: "The Column"
    excerpt: "A blog about whatever I feel like. Tech. Books. General life."
    url: /tags/
    btn_label: "See The Column"
    btn_class: "btn--inverse"
  - image_path: /assets/images/splash-gillespedia.png
    alt: "Gillespedia image"
    # title: "Gillespedia"
    excerpt: "A personal knowledge wiki about science, life, and productivity"
    url: /categories/
    btn_label: "Read Gillespedia"
    btn_class: "btn--inverse"
  - image_path: https://www.notion.so/aarongilly/9e6c767be05a42c7ab438e4330658e2b?v=6d08d1c56ba24e97b75a60fc5dba073c
    alt: "Creations image"
    # title: "Creation of the Week"
    excerpt: "A weekly collection of writings, drawings, and other fun things."
    url: /creations/
    btn_label: "View Creations"
    btn_class: "btn--inverse"
---

{% include figure image_path="/assets/images/index-banner.png" alt="a fun little hello image" %}
<p>Hi. I'm Aaron. Welcome to my website. You can <a href= "http://eepurl.com/gNPOV9">subscribe to my mailing list</a> to get notified of new Columns right in your email inbox.</p>
{% include feature_row %}
<div style="color: grey; font-size: 10px;"> 
</p>This website is hosted by GitHub Pages, utilizing the <a href="https://mmistakes.github.io/minimal-mistakes/">Minimal Mistakes</a> theme with almost no retooling.</p>
</div>